<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/users">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/materials">Materiais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/materials">Entrada de Materiais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/materials">Saida de Materiais</a>
        </li>
      </ul>
    </div>
  </div>
</nav>